$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/* Everything but the jumbotron gets side spacing for mobile first views */
header,
footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page footer */
footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

/* custom for mobile */
@media screen and (max-width: 768px) {
    .container,
    .row,
    .col-xs-12 {
        padding: 0;
        margin: 0;
    }

    footer {
        display: none;
    }

    .navbar {
        margin-bottom: 0;
    }
}

#game_view {
    width: 100%;
}

.game-view-wrapper {
    position: relative;
    overflow: hidden;
}

.count-pane-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;

    .count-pane {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        span {
            position: absolute;
            width: 100%;
            top: 50%;
            margin: -.7em 0 0 0;
            font-size: 20em;
            color: white;
            text-shadow: 2px 2px 5px black;
            text-align: center;
        }
    }
}

.count-pane-wrapper.active {
    visibility: visible;

    .count-pane {
        opacity: 0;
        animation-name: fade-dezoom-in;
        animation-duration: .5s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;
    }

    .count-pane:nth-child(3n) {
        animation-delay: 0s;
    }

    .count-pane:nth-child(3n+2) {
        animation-delay: .5s;
    }

    .count-pane:nth-child(3n+1) {
        animation-delay: 1s;
    }
}

@keyframes fade-dezoom-in {
    from { transform: scale(5); opacity: 0; }
    to   { transform: scale(1); opacity: 1;}
}

.game-text {
    font-size: 3em;
    text-shadow:  1px  1px 1px white,
                  1px -1px 1px white,
                 -1px -1px 1px white,
                 -1px  1px 1px white;

    @media screen and (max-width: 768px) {
        font-size: 2em;
    }
}

#elapsed_time {
    position: absolute;
    top: 0;
    width: 100%;
    padding: .5em;
    margin: 0;
    text-align: right;
}

#score {
    position: absolute;
    top: 0;
    width: 100%;
    padding: .5em;
    margin: 0;
    text-align: left;
}

#score_board {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 8rem;
    transition: background-color .3s;
    transition-delay: .3s;

    @media screen and (max-width: 768px) {
        font-size: 5rem;
    }

    .score-board-item {
        position: absolute;
        width: 100%;
        left: 100%;
        margin: 20px 0;
        opacity: 0;
        transition-property: left, opacity;
        transition-duration: .5s, 0s;
        visibility: hidden;
    }

    .score-board-item-top {
        top: 0;
        transition-delay: 0s, .5s;
    }

    .score-board-item-middle {
        top: 50%;
        margin-top: -1em;
        transition-delay: .1s, .6s;
    }

    .score-board-item-bottom {
        bottom: 0;
        margin-bottom: 30px;
        transition-delay: .2s, .7s;
    }

    &.show {
        background-color: rgba(255, 255, 255, .8);
        transition-delay: 0s;

        .score-board-item {
            left: 0%;
            opacity: 1;
            visibility: visible;
        }

        .score-board-item-top {
            transition-delay: .3s, 0s;
        }

        .score-board-item-middle {
            transition-delay: .4s, 0s;
        }

        .score-board-item-bottom {
            transition-delay: .5s, 0s;
        }
    }

    &.next {
        background-color: rgba(255, 255, 255, .8);

        .score-board-item {
            left: -100%;
            opacity: 0;
            visibility: visible;
        }

        .score-board-history {
            left: 0;
        }
    }

    .score-board-history {
        position: absolute;
        left: 100%;
        margin: 20px;
        font-size: 5rem;
        transition: left .5s;

        @media screen and (max-width: 768px) {
            margin: 10px;
            font-size: 2.5rem;

            h3 {
                font-size: 18px;
            }
        }

        h2 {
            font-size: 5rem;

            @media screen and (max-width: 768px) {
                font-size: 3rem;
            }
        }

        li > img {
            width: 70px;

            @media screen and (max-width: 768px) {
                width: 35px;
            }
        }

    }
}

/* Buttons */
$button-bg-color-light: #fff;
$button-bg-color-dark: #eee;
$button-border-color: #999;
$button-border-disabled-color: lighten($button-border-color, 5%);
$button-text-color: #999;
$button-text-disabled-color: lighten($button-text-color, 5%);

.control {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 10px 0;
    text-align: center;

    @media screen and (max-width: 768px) {
        position: fixed;
        bottom: -25px;
        margin: 0;
    }

    .main-button {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 50%;
        width: 150px;
        height: 150px;
        margin-left: -75px;
        border-radius: 75px;

        background-color: $button-bg-color-light;
        background-size: 30px 30px;
        background-position: 0 0, 15px 15px;
        background-image: linear-gradient(45deg,
                                          $button-bg-color-dark 25%,
                                          $button-bg-color-dark 25%,
                                          transparent 25%,
                                          transparent 75%,
                                          $button-bg-color-dark 75%,
                                          $button-bg-color-dark 75%),
                          linear-gradient(-135deg,
                                          $button-bg-color-dark 25%,
                                          $button-bg-color-dark 25%,
                                          transparent 25%,
                                          transparent 75%,
                                          $button-bg-color-dark 75%,
                                          $button-bg-color-dark 75%);
        border: 3px solid $button-border-color;
        color: $button-text-color;

        text-align: center;
        font-size: 4em;
        line-height: 2.5em;
        text-decoration: none;

        &:active {
            box-shadow: inset 0 0 20px $button-border-color;
            text-shadow: 0 0 5px $button-text-color;
        }

        &.disable {
            border: 3px solid $button-border-disabled-color;
            color: $button-text-disabled-color;
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.65;
        }

        &.start-game:after {
            content: "Start";
        }

        &.pick:after {
            content: "Pick";
        }

        &.restart-game:after {
            font-size: .7em;
            content: "Restart";
        }
    }

    .change-camera {
        top: 75px;
        margin-top: -1em;
        margin-left: -10px;

        .fa-refresh {
            color: #ddd;
        }

        .fa-camera {
            color: #555;
        }
    }

    .feedback {
        position: relative;
        top: 75px;
        margin-top: -1em;
        margin-right: -10px;
        color: rgba(255, 128, 64, 1);

        &:after {
            content: 'feedback';
            position: absolute;
            top: 75px;
            margin-top: -50px;
            margin-left: -67px;
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
            transform: scale(-1, 1);
        }
    }

}
